
@font-face {
  font-family: 'UbuntuLight';
  src: url('../font/Ubuntu-L-webfont.eot');
  src: url('../font/Ubuntu-L-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/Ubuntu-L-webfont.woff') format('woff'),
       url('../font/Ubuntu-L-webfont.ttf') format('truetype'),
       url('../font/Ubuntu-L-webfont.svg#UbuntuLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aaargh';
  src: url('../font/aaargh-webfont.eot');
  src: url('../font/aaargh-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/aaargh-webfont.woff') format('woff'),
       url('../font/aaargh-webfont.ttf') format('truetype'),
       url('../font/aaargh-webfont.svg#Aaargh') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'UbuntuBold';
    src: url('../font/Ubuntu-B-webfont.eot');
    src: url('../font/Ubuntu-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Ubuntu-B-webfont.woff') format('woff'),
         url('../font/Ubuntu-B-webfont.ttf') format('truetype'),
         url('../font/Ubuntu-B-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/*@font-face {
    font-family: 'UbuntuItalic';
    src: url('../font/Ubuntu-RI-webfont.eot');
    src: url('../font/Ubuntu-RI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Ubuntu-RI-webfont.woff') format('woff'),
         url('../font/Ubuntu-RI-webfont.ttf') format('truetype'),
         url('../font/Ubuntu-RI-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
