/* ==== RELAXED LAYOUT ===*/

#outer-wrap {font: 100% Arial, Helvetica, Verdana, Arial, sans-serif;}
#content, #related {float:none;}
#related {width: 100%; margin-left: 0; margin-top: 15px; position:static; left:0;}

#related img {float:left; margin-right:15px}
#switcher p {padding-top:0; margin-top:1px}

#navigation {width:25%;}
#navigation ul {margin-right:13px}
#content-wrapper {margin: 0 32px 0 25%;}


/*DARK COLOUR COLOURS AND CUSTOMISATIONS*/

  /*= Colours and fluffyness for layout =*/
body, #outer-wrap {color: #fff; background: #000;}
li.skipnav, #alt, #printlinks {display: none;}
#header, #content, #navigation ul, #related {background: #313131}
#header, #navigation ul, #related, #content {border: 1px solid #000}
#footer {border-top: 1px solid #fff}

  /*= Colours and fluffyness for base elements =*/
.dot {color: #cc0066}
strong {color: #fff;}
hr {background-color:#000; color:#000;}
ul li, ul ul li, ul ul ul li {background: url(../images/dark/bullet.gif) no-repeat 0 0.5em;}

  /*= Colours and fluffyness for links =*/
a {color: #ff6699;}
a:link {color: #ff6699;}
a:visited {color: #fff;}
a:active {color: #fff;}
a:active, a:focus, a:hover {color: #ff6699;}

  /*= Skip Links =*/
a.rm:active, a.rm:focus {background-color: #fff; color: #01266B; border: 8px #FE5800 solid;}

  /*= Colours and fluffyness for the header */ 
#infinitefocus-logo {background: url(../images/dark/ifnet_logo_beta.png)}
#switcher {border: 1px solid #000; background: url(../images/dark/switcher-bg.gif);}
#infinitefocus-logo { border:1px solid #313131}

  /*= Colours and fluffyness for the navigation */
#navigation li a, #navigation li strong {color:#fff; border-bottom: 1px solid #fff;}
#navigation li strong {background: url(../images/dark/dot.gif) no-repeat 0.05em 58%}
#navigation li a:hover, #navigation li a:active, #navigation li a:focus {background: url(../images/dark/dot-hover.gif) no-repeat 0.05em 58%}
